@inherits LayoutComponentBase

<PageTitle>Digital Library</PageTitle>

<div class="page">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Digital Library</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end gap-2">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/books">Catalog</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">History</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <main>
        @Body
    </main>
</div>
